
    .my-body {
    background-color: #ffffff;
    font-family: 'arial';
   }

   .my-title {
    font-size: 4rem;
    font-weight: 900;
    color: white;
   }

   .my-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    color: orangered;
    background-color: white;
   }

   .my-paragraph {
    font-size: 3rem;
    font-weight: 100;
    color: white;
   }

   .my-strong {
    text-shadow: 2px 2px 0 orangered;
   }